@{
    ViewBag.Title = "Home Page";
}

<div id="header-wrapper" class="sticky-menu-light heroimage-wrap" style="background:url('//rjz.blob.core.windows.net/images/200b83e6-519e-461a-b463-0ef29edb6bef');background-size:100%">
    <div id="page-title">
        <div class="page-title-details">
            <h1 class="font-accident-one-bold">FoodVentures</h1>
            <ul>
                <li>A Food Travelogue</li>
            </ul>
        </div>
    </div>
</div>