@{
    ViewBag.Title = "Home Page";
}
<style>
    i {
        color: #000000
    }
</style>
<div id="header-wrapper" class="sticky-menu-light heroimage-wrap" style="background:url('//rjz.blob.core.windows.net/images/200b83e6-519e-461a-b463-0ef29edb6bef');background-size:100%">
    <div id="page-title">
        <div class="page-title-details">
            <h1 class="font-accident-one-bold">FoodVentures</h1>
            <ul>
                <li>A Food Travelogue</li>
            </ul>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="col-md-4">
        <h2 class="text-center"><i class="fa fa-user"></i> Top Users</h2>
    </div>
    <div class="col-md-4">
        <h2 class="text-center"><i class="fa fa-search"></i> Search</h2>
    </div>
    <div class="col-md-4">
        <h2 class="text-center"><i class="fa fa-info-circle"></i> About</h2>
    </div>
</div>