
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="test as t">
    <div>Google Places Autocomplte integration in Angular</div>
    <div>To Test, start typing the name of any Indian city</div>
    <div>selection is: {{chosenPlace}}</div>
    <div class="col-md-12"><input class="form-control" ng-model="chosenPlace" details="t.help" googleplace /></div>
    <div><button ng-click="t.test()">click</button></div>
</div>

@section scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDO10pn3Yp7uBBOt6moWybMK_9jlmtaN_E&libraries=places"></script>
    <script src="~/Scripts/ng/ngCropper.all.min.js"></script>
    <script src="~/Scripts/ng/jsTag.debug.js"></script>
    <script src="~/Scripts/ng/jsTag.min.js"></script>
    <script src="~/Scripts/ng/angular-bootstrap-lightbox.js"></script>
    <script>
        (function () {
            "use strict";

            angular.module('foodVenturesApp')
                .directive('googleplace', Googleplace);


            function Googleplace() {

                return (
                    {
                        require: 'ngModel'
                        , scope: {
                            ngModel: '=',
                            details: '=?'
                        }
                        , link: link
                    }
                );
                function link(scope, element, attrs, model) {
                    var options = {
                        types: [],
                        componentRestrictions: {}
                    };

                    scope.gPlace = new google.maps.places.Autocomplete(element[0], options);

                    google.maps.event.addListener(scope.gPlace, 'place_changed', function () {
                        var geoComponents = scope.gPlace.getPlace();
                        var latitude = geoComponents.geometry.location.lat();
                        var longitude = geoComponents.geometry.location.lng();
                        var addressComponents = geoComponents.address_components;

                        addressComponents = addressComponents.filter(function (component) {
                            switch (component.types[0]) {
                                case "locality": // city
                                    return true;
                                case "administrative_area_level_1": // state
                                    return true;
                                case "country": // country
                                    return true;
                                default:
                                    return false;
                            }
                        }).map(function (obj) {
                            return obj.long_name;
                        });
                        //Construct objet using addressComponents
                        addressComponents.push(latitude, longitude);
                        var location = {
                            name: geoComponents.name,
                            city: addressComponents[0],
                            state: addressComponents[1],
                            country: addressComponents[2],
                            latitude: addressComponents[3],
                            longitude: addressComponents[4]
                        };

                        scope.$apply(function () {
                            scope.details = location;
                            model.$setViewValue(element.val());
                        });
                    });
                };


            }

        })();
        (function () {
            'use strict';
            angular.module('foodVenturesApp').controller('test', Test);
            Test.$inject = ['$scope'];

            function Test($scope) {
                var vm = this;
                vm.$scope = $scope;
                $scope.gPlace;
                $scope.details;
                vm.test = _test;
                vm.help = {};

                function _test() {
                    console.log($scope.gPlace);
                    console.log($scope.details);
                    console.log(vm.help);
                }
            };

        })();
    </script>


}